.container{
    position: relative;
    width: 100%;
    height: 80px;
    bottom: 0;
    background-image: linear-gradient(to bottom right,  #191970, #00FA9A);
    line-height: 60px;

    text-align: center;

}

.buttons{
    position: relative;
    top: 25px;
    display: inline;

}