.container{
    position: relative;
    width: 100%;
    /* top: 30px; */
    /* height: 100%; */
    padding-bottom: 30px;
    background-color: whitesmoke;
    text-align: center;
}

.main{
    position: relative;
    max-width: 800px;
    height: auto;
    /* top: 70px; */
    margin: 0 auto;
    /* padding: 20px; */
    text-align: left;
    padding: 20px;
    min-height: 500px;
    background-color: white;
    /* border: 3px solid red; */
    border-bottom-style: solid;
    border-bottom-color: #00FA9A ;



    /* padding-bottom: 10%; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.about{
    position: relative;
    max-width: 800px;
    height: auto;
    min-height: 500px;
    /* top: 20px; */
    margin: 0 auto;
    padding: 20px;
    /* text-align: center; */
    /* margin-bottom: 30px; */
    /* border: 2px solid #00FA9A; */
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom-style: solid;
    border-bottom-color: #00FA9A ;
}
.about p{
    position: relative;
    font-size: 20px;
    padding: 30px;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

.stack{
    position: relative;
    max-width: 800px;
    height: auto;
    /* top: 100px; */
    margin: auto;
    padding: 20px;
    text-align: center;
    min-height: 500px;
    /* border: 3px solid red; */
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #00FA9A ;


}

.stack img {
    width: 80%;
}
.projectstack{
    position: relative;
    max-width: 500px;
    height: 400px;
    /* top: 100px; */
    margin: auto;
    padding: 20px;
    text-align: left;


}

.projectabout{
    position: relative;
    max-width: 800px;
    height: 400px;
    /* top: 100px; */
    margin: auto;
    padding: 20px;
    text-align: left;

    /* padding-bottom: 10%; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.projectabout p{
    font-size: 20px;
    padding: 10%;

}


.project{
    position: relative;
    max-width: 500px;

    margin: 20px auto;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    /* border: 2px solid #191970; */


}

.project img{
    position: relative;
    height: 50px;
    top: 5px;
    margin: auto;
}

.project h2{
    border-bottom-style: solid;
    border-bottom-color: #191970;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.project p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.project:hover h2{
    /* background-image: linear-gradient(to bottom right,  #00FA9A, #7B68EE); */
    /* color: #6A5ACD; */
    border-bottom-style: solid;
    border-bottom-color: #00FA9A;

}




.main p{
    font-size: 20px;
    padding: 10%;

}

.main h4{
    position: relative;
    font-size: 20px;
    bottom: 10px;

}

.main img {
    /* padding-top: 50%; */
    width: 50px;
}