.container{
    position: relative;
    width: 100%;
    top: 30px;
    height: auto;
    padding-bottom: 30px;
    text-align: center;
}

.main{
    position: relative;
    width: 40%;
    height: auto;
    top: 70px;
    margin: auto;
    padding: 20px;
    text-align: left;

    padding-bottom: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.project{
    position: relative;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #191970;


}

.project img{
    position: relative;
    height: 50px;
    top: 15px;
    margin: auto;
}

.project h2{
    border-bottom-style: solid;
    border-bottom-color: #191970;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.project p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.project:hover h2{
    /* background-image: linear-gradient(to bottom right,  #00FA9A, #7B68EE); */
    /* color: #6A5ACD; */
    border-bottom-style: solid;
    border-bottom-color: #00FA9A;
}



.main p{
    font-size: 20px;
    padding-bottom: 40%;

}

.main h4{
    position: relative;
    font-size: 20px;
    bottom: 10px;

}