.container{
    position: relative;
    top: 80px;
    width: 50%;
    /* background-color: orchid; */
    margin: auto;
    text-align: center;
}

.tabs {
    position: relative;
    text-align: center;
    left: 400px;
}

.nuTabs h3{
    display: inline;
    padding: 30px;

    
}

.nuTabs h3.active{
    border-bottom-style: solid;
    border-bottom-color: #00FA9A;

}

.tab{
    color: black;
    border-bottom-style: solid;
    border-bottom-color: #7B68EE;
}
