.container{
    position: relative;
    top: 20px;
    width: 50%;
    /* background-color: orchid; */
    margin: auto;
    text-align: center;
}

.tabs {
    position: relative;
    text-align: center;
    left: 400px;
}

.nuTabs h3{
    display: inline;
    padding: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


    
}

.nuTabs h3.active{
    border-bottom-style: solid;
    border-bottom-color: #00FA9A;

}

.tab{
    color: black;
    border-bottom-style: solid;
    border-bottom-color: #191970;
}

.nuTabs h3:hover{
    color: #00FA9A;
}
